.container
  %section#home
    .row-fluid
      %h1 Matteo Borgato 
      %h2 Front-end Developer
      %h3 Amsterdam - The Netherlands

      %ul.social-network
        %li
          %a{:href => "http://www.facebook.com/matteo.borgato", :target => "_blank", :class => "icons-facebook",  :title => "Facebook"}
        %li
          %a{ :href => "https://twitter.com/#!/borteo", :target => "_blank", :class => "icons-twitter", :title => "Twitter"}
        %li
          %a{ :href => "http://nl.linkedin.com/pub/matteo-borgato/24/920/97a/en", :target => "_blank", :class => "icons-linkedin", :title => "LinkedIn"}
        %li
          %a{ :href => "http://matteoborgato.com/gallery", :target => "_blank", :class => "icons-gallery", :title => "My photo gallery"}

  %section#portfolio
    .row-fluid
      %h2 Portfolio
    .row-fluid
      .span
        .main
          .view.view-second
            =image_tag("/assets/fairandsquare.png")
            .mask
            .content
              %h3 Fair and Square
              %p 
                A new brand by Craft Resource Center for all international traders who believe in a more equal distribution of power between developed countries and developing countries.
              =link_to "Visit", "http://fairandsquare.co.in/", :class => "info btn btn-large btn-inverse", :target => "_blank"
      .span.pull-right
        .main
          .view.view-second
            =image_tag("/assets/calcetto5.png")
            .mask
            .content
              %h3 Calcetto5
              %p 
                One of my personal project, a social sport sharing platform that helps to organize five-a-side football matches in my city and country.
                %br 
                The Italian title Calcetto5 means literally 5-a-side football.
              =link_to "Visit", "http://borteo.altervista.org/sito/web/partecipanti/welcome.php", :class => "info btn btn-large btn-inverse", :target => "_blank"

    .row-fluid
      .span
        .main
          .view.view-second
            =image_tag("/assets/ferinox.png")
            .mask
            .content
              %h3 Fer-Inox
              %p 
                Ironsmith based in Villanova, near Venice (Italy). This company offers wrought iron gates, fence, stairs, hanger and decorations.
              =link_to "Visit", "http://fer-inox.it/", :class => "info btn btn-large btn-inverse", :target => "_blank"
              
      .span.pull-right
        .main
          .view.view-second
            =image_tag("/assets/sappada.png")
            .mask
            .content
              %h3 Sappada
              %p
                CMS and municipal Web portal of the city of Sappada (North of Italy). I've made two different style versions, one for fall/winter period and the other for spring/summer. 
              =link_to "Visit", "http://comune.sappada.bl.it/", :class => "info btn btn-large btn-inverse", :target => "_blank"
              
    .row-fluid
      .span
        .main
          .view.view-second
            =image_tag("/assets/cstnapoli.png")
            .mask
            .content
              %h3 CST Napoli
              %p 
                Centro Servizi Territoriale of Napoli (Naples). Citiziens' Web portal that contains all the most important news and information about the city of Napoli and the Campania region.

      .span.pull-right
        .main
          .view.view-second
            =image_tag("/assets/soluzionipa.png")
            .mask
            .content
              %h3 Euro Servizi
              %p
                Company based in Padova. Graphic style simple and tidy requested by the client.
              =link_to "Visit", "http://www.soluzionipa.it/", :class => "info btn btn-large btn-inverse", :target => "_blank"
      
      .row-fluid
        .span
          .main
            .view.view-second
              =image_tag("/assets/portfolio.png")
              .mask
              .content
                %h3 Last portfolio
                %p 
                  My old portfolio (version 2)
                =link_to "Visit", "http://borteo.altervista.org/sito/web/cms/", :class => "info btn btn-large btn-inverse", :target => "_blank"

  %section#about-me
    .row-fluid
      %h2 About me
    .row-fluid
      .span
        =image_tag "me.png", :class => "picture", :title => "Hire me!", "data-content" => "I am looking for a job"
      .span8
        %p.josefin
          Born and raised in Venice, I graduated from Universit&agrave; degli Studi di Padova (in Padua) with a degree in Computer Science in 2007 and have been working with the Web ever since.
        %p.josefin
          I am a front-end developer, with more than 4 years under the belt. Currently I live in the beautiful Amsterdam - The Netherlands.
        %p.josefin
          I have also back-end skills but currently I focus on highly intensive front-end web applications and love it.
        %p
          =link_to "Download my Curriculum Vitae", 'http://dl.dropbox.com/u/1089758/matteoborgato_cv.pdf', :class => "btn btn-info"

    .row-fluid
      #skills
        %h3
          Skills
        %p
          %span.label.label-info.front CSS
          %span.label.label-info.front HTML5
          %span.label.label-info.front JavaScript
          %span.label.label-info.front Jquery
          %span.label.label-info.front Mootools
          %span.label.label-info.front.hide CoffeeScript
          %span.label.label-info.front.hide Mustache
          
          %span.label.back Ruby on Rails
          %span.label.back PHP
          %span.label.hide.back Python
          
          %span.label.hide.label-important E-commerce
          %span.label.hide.label-important Magento
          %span.label.hide.label-important SEO
          %span.label.hide.label-warning RSpec
          %span.label.hide.label-warning Capybara
          %span.label.label-success.db MySQL
          %span.label.label-success.db Oracle
          %span.label.label-success.db PostgreSQL
          %span.label.label-success.db MongoDB
          %span.label.label-black.apps Photoshop
          %span.label.label-black.apps Illustrator
          %span.label.label-black.apps.hide CorelDraw
          %span.label.label-black.apps.hide Inkscape
          %span.label.hide Mac OS
          %span.label.hide GNU/Linux
          %span.label.hide Windows

        %p
          %span#skills-detail.btn show more

          

        

  %section#contacts
    .row-fluid
      %h2 Contacts
    .row-fluid.details
      %p
        %span.contact Mobile
        %i.icons-it
        +39 349 4246616 
        %i.icons-nl
        +31 621 360018
      %p
        %span.contact E-mail
        %i.icons-envelope
        borgato.matteo (at) gmail dot com
      %p
        %span.contact Skype
        %i.icons-skype
        matteo_borgato

  %section#share
    .row-fluid
      .span2
        %a.twitter-share-button{:href => "https://twitter.com/borteo", "text" => "Matteo Borgato, Front-end Web Developer Portfolio", "via" => "borteo", "hashtags" => "Front-end, Web Developer", "data-related" => "borteo",  "data-lang" => "en", "data-size" => "large", "data-count" => "none"}
          Tweet
      .span3
        .g-plusone{"data-annotation" => "inline"}
      .span4
        =facebook_like        
        
-# Javascript at the bottom for fast page loading
= javascript_include_tag "application"