.container
  %section#home
    .row-fluid
      %h1 Matteo Borgato 
      %h2 Front-end Developer
      %h3 Amsterdam - The Netherlands

      %ul.social-network
        %li
          %a{ :href => "http://www.facebook.com/matteo.borgato", :target => "_blank"}
            =image_tag "facebook.png", :title => "Facebook"
        %li
          %a{ :href => "https://twitter.com/#!/borteo", :target => "_blank"}
            =image_tag "twitter.png", :title => "Twitter"
        %li
          %a{ :href => "http://nl.linkedin.com/pub/matteo-borgato/24/920/97a/en", :target => "_blank"}
            =image_tag "linkedin.png", :title => "LinkedIn"

  %section#portfolio
    .row-fluid
      %h2 Portfolio
    .row-fluid
      .span
        .main
          .view.view-second
            =image_tag("/assets/fairandsquare.png")
            .mask
            .content
              %h3 Fair and Square
              %p 
                A new brand by Craft Resource Center for all international traders who believe in a more equal distribution of power between developed countries and developing countries.
              =link_to "Visit", "http://fairandsquare.co.in/", :class => "info btn btn-large btn-inverse", :target => "_blank"
      .span
        .main
          .view.view-second
            =image_tag("/assets/calcetto5.png")
            .mask
            .content
              %h3 Calcetto5
              %p 
                One of my personal project, a social sport sharing platform that helps to organize five-a-side football matches in my city and country.
                %br 
                The Italian title Calcetto5 means literally 5-a-side football.
              =link_to "Visit", "http://borteo.altervista.org/sito/web/partecipanti/welcome.php", :class => "info btn btn-large btn-inverse", :target => "_blank"

    .row-fluid
      .span
        .main
          .view.view-second
            =image_tag("/assets/ferinox.png")
            .mask
            .content
              %h3 Fer-Inox
              %p 
                Ironsmith based in Villanova, near Venice (Italy). This company offers wrought iron gates, fence, stairs, hanger and decorations.
              =link_to "Visit", "http://fer-inox.it/", :class => "info btn btn-large btn-inverse", :target => "_blank"
              
      .span
        .main
          .view.view-second
            =image_tag("/assets/sappada.png")
            .mask
            .content
              %h3 Sappada
              %p
                CMS and municipal Web portal of the city of Sappada (North of Italy).
              =link_to "Visit", "http://comune.sappada.bl.it/", :class => "info btn btn-large btn-inverse", :target => "_blank"
      
      .row-fluid
        .span
          .main
            .view.view-second
              =image_tag("/assets/portfolio.png")
              .mask
              .content
                %h3 Last portfolio
                %p 
                  My old portfolio (version 2)
                =link_to "Visit", "http://borteo.altervista.org/sito/web/cms/", :class => "info btn btn-large btn-inverse", :target => "_blank"

  %section#about-me
    .row-fluid
      %h2 About me
    .row-fluid
      .span
        =image_tag "me.png", :class => "picture", :title => "Hire me!", "data-content" => "I am looking for a job"
      .span8
        %p.havre
          Born and raised in Venice, I graduated from Universit&agrave; degli Studi di Padova (in Padua) with a degree in Computer Science in 2007 and have been working with the Web ever since.
        %p.havre
          I am a front-end developer, with more than 4 years under the belt. Currently I live in the beautiful Amsterdam - The Netherlands.
        %p.havre
          I have also back-end skills but currently I focus on highly intensive front-end web applications and love it.
        %p
          =link_to "Download my Résumé", '/matteo_borgato_cv.pdf', :class => "btn btn-info"

    .row-fluid
      #skills
        %h3
          Skills
        %p
          %span.label.label-info.front CSS
          %span.label.label-info.front HTML5
          %span.label.label-info.front JavaScript
          %span.label.label-info.front Jquery
          %span.label.label-info.front Mootools
          %span.label.back Ruby on Rails
          %span.label.back PHP
          %span.label.back Magento
          %span.label.general E-commerce
        %p
          %span.label.label-success.db MySQL
          %span.label.label-success.db Oracle
          %span.label.label-success.db PostgreSQL
          %span.label.label-success.db MongoDB
          %span.label.label-black.apps Photoshop
          %span.label.label-black.apps Illustrator

  %section#contacts
    .row-fluid
      %h2 Contacts
    .row-fluid.details
      %p.havre
        %span.contact Mobile
        %span
          =image_tag "it-icon.png"
          +39 349 4246616 
        =image_tag "nl-icon.png"
        +31 621 360018
      %p.havre
        %span.contact E-mail
        %i.icon-envelope
        borgato.matteo (at) gmail dot com
      %p.havre
        %span.contact Skype
        =image_tag "icon-skype.png"
        matteo_borgato