%footer#footer
  .container
    %small.copyright
      Matteo Borgato, Copyright &copy; #{ Date.today.year } 
      -if controller.controller_name == "home"
        =link_to "Return to Top", "#home", :class => "up"