%footer#footer
  .container
    %small.copyright
      =link_to "Matteo Borgato", "http://matteoborgato.com"
      &mdash; Copyright &copy; #{ Date.today.year } 
      -if controller.controller_name == "home"
        &mdash;
        =link_to "Return to Top", "#home", :class => "up"