%footer#footer
  .container
    %small.copyright
      Matteo Borgato, Copyright &copy; #{ Date.today.year } - 
    %small
      Powered by 
      = link_to "HTML5 Boilerplate", "http://html5boilerplate.com/"