%section#portfolio
  .wrapper
    %h2 Portfolio

    %ul#og-grid.og-grid
      %li
        %a{"data-description" => "PastBook is a Web application where a user can create the photo album of his/her social memories (gathering pictures from social networks like Facebook, Twitter, Instagram, Google Plus). <br> Worked with Javascript (JQuery, Backbone, Handlebars), CSS3 (paid extreme attention to responsive design), HTML5, PHP5, MySQL, Facebook API, Twitter API, Instagram API.", "data-largesrc" => "/assets/works/pastbook.jpg", "data-title" => "Pastbook", :href => "http://www.pastbook.com"}
          %img{:alt => "Pastbook", :src => "/assets/thumbs/pastbook.jpg", :class => "thumb"}/

      %li
        %a{"data-description" => "Application for Web and mobile that connects health coaches with their clients. The coaches can build custom plans and workouts for the clients and communicate over an instant messaging system.<br>I designed and developed the Front-end features for both the Web and mobile side (iPhone). I worked with JavaScript (MooTools, Jquery, Mustache), HTML5, CSS3, Ruby on Rails, MongoDB, PostgreSQL, Capybara, RSpec.", "data-largesrc" => "/assets/works/fitmo.jpg", "data-title" => "Fitmo", :href => "http://fitmo.com"}
          %img{:alt => "Fitmo", :src => "/assets/thumbs/fitmo.jpg", :class => "thumb"}/
      %li
        %a{"data-description" => "Arraiá Parque Dois Irmãos. In June Brazilians celebrate Festa Junina, a traditional Festival, also known as festa de São João. The celebrations usually take place in an arraial, a huge tent, and several quadrillas (dance crew) battle it out to win the grand prize. I made the Web site for the Parque Dois Irmãos neighborhood.", "data-largesrc" => "/assets/works/arraia.jpg","data-title" => "Arraiá Parque Dois Irmãos", :href => "http://www.arraiaparquedoisirmaos.com"}
          %img{:alt => "Arraiá Parque Dois Irmãos", :src => "/assets/thumbs/arraia.jpg", :class => "thumb"}/
      %li
        %a{"data-description" => "The client wanted a simple, minimal and metro-style Website to present himself to the customer. There are two versions: one dark for the english users, and one light gray for the dutch ones. I also created the company's logo and the business card.", "data-largesrc" => "/assets/works/oele.jpg", "data-title" => "Oele Steenks Communications", :href => "http://www.oelesteenkscommunications.com"}
          %img{:alt => "OeleSteenksCommunications", :src => "/assets/thumbs/oele.jpg", :class => "thumb"}/

      %li
        %a{"data-description" => "A new brand by Craft Resource Center for all international traders who believe in a more equal distribution of power between developed countries and developing countries.", "data-largesrc" => "/assets/works/fair.jpg", "data-title" => "Fair &amp; Square", :href => "http://fairandsquare.co.in/"}
          %img{:alt => "img02", :src => "/assets/thumbs/fairandsquare.jpg", :class => "thumb"}/
      
      %li
        %a{"data-description" => "Ironsmith based in Villanova, near Venice (Italy). This company offers wrought iron gates, fence, stairs, hanger and decorations. I made this Web site with PHP5, CSS3 and Javascript", "data-largesrc" => "/assets/works/ferinox.jpg", "data-title" => "Fer-inox", :href => "http://fer-inox.it"}
          %img{:alt => "Fer-inox", :src => "/assets/thumbs/ferinox.jpg", :class => "thumb"}/
      %li
        %a{"data-description" => "CMS and municipal Web portal of the city of Sappada (North of Italy). I've made two different style versions, one for fall/winter period and the other for spring/summer.", "data-largesrc" => "/assets/works/sappada.jpg", "data-title" => "Comune di Sappada", :href => "http://comune.sappada.bl.it"}
          %img{:alt => "Sappada", :src => "/assets/thumbs/sappada.jpg", :class => "thumb"}/
      %li
        %a{"data-description" => "One of my personal project, a social sport sharing platform that helps to organize five-a-side football matches in my city and country. The Italian title Calcetto5 means literally 5-a-side football.", "data-largesrc" => "/assets/works/calcetto5.jpg", "data-title" => "Calcetto5", :href => "http://borteo.altervista.org/sito/web/partecipanti/welcome.php"}
          %img{:alt => "img03", :src => "/assets/thumbs/calcetto5.jpg", :class => "thumb"}/