#skills {
  
  span.badge { 
    text-align: center; 
    color: #555;
    padding: 2px 4px;
    font-size: 1.2em;
    line-height: 1.6em;
    height: 1.6em;
    position: relative;
    @include box-shadow(rgba(0, 0, 0, 0.1) 0 -1px 1px inset);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  span.badge:hover {
    top: -2px;
  }

  span.frontend {
    background: rgb(154, 182, 192);
  }

  span.backend {
    background: #80CB92;
  }

  span.ecommerce {
    background: #FFF;
  }

  span.test {
    background: #FBDCA0;
  }

  span.db {
    background: #7B8085;
    color: #f4f4f4;
  }

  span.apps {
    background: #91E26A;
  }

  span.subversion {
    background: #DF8989;
  }

  span.os {
    background: #F6B83F;
  }

}
