a.tooltip span { 
  opacity: 0;
  position: absolute;
  top: 50px;
  left: -18px;
  width: 100px;
  line-height: 25px;
  z-index: 10;
  background-color: #C25552;
  color: white;
  font-size: 1.2em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  display: inline;
}
a.tooltip:hover span {
  opacity: 1.0;
  top: 80px;
  @include transition(all 0.5s ease-in-out);
}